apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: frontend
  name: frontend-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - image: amadka/gestion-depense-frontend
        name: gestion-depense-frontend
        ports:
          - containerPort: 3000
        envFrom:
          - configMapRef:
              name: frontend-config
        resources:
          requests:
            cpu: 50m
            memory: 60Mi
          limits:
            cpu: 150m
            memory: 120Mi
status: {}
