apiVersion: v1
kind: Service
metadata:
  labels:
    app: backend-svc
  name: backend-service
spec:
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
  selector:
    app: backend
  type: ClusterIP
status:
  loadBalancer: {}
