apiVersion: v1
kind: Service
metadata:
  labels:
    app: depense-bdd
  name: bdd-svc
spec:
  clusterIP: None
  ports:
  - protocol: TCP
    port: 5432
    targetPort: 5432
  selector:
    app: depense-bdd
  type: ClusterIP
status:
  loadBalancer: {}