apiVersion: v1
kind: Service
metadata:
  labels:
    app: frontend-svc
  name: frontend-service
spec:
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 3000
  selector:
    app: frontend
  type: ClusterIP
status:
  loadBalancer: {}
