apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
  name: nginx-svc
spec:
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30100
  selector:
    app: nginx
  type: NodePort
status:
  loadBalancer: {}