apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configmap.nginx.name }}
data:
  nginx.conf: |
    events {}
    
    http {
        server {
            listen 80;

            server_name _;

            location /static/ {
                alias /static/;
            }

        }
    }